.CardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.CardInfo h3, p {
    margin: 10px;
}

.CardInfo h3 {
    font-size: 1.5em;
    color: rgb(39, 39, 39);
}

.CardInfo p {
    font-size: 1.3em;
    margin: 20px 60px;
    color: rgb(66, 66, 66);
}

@media (max-width: 500px) {
    .CardInfo h3 {
        font-size: 1.2em;
    }

    .CardInfo p {
        font-size: 1em;
        margin: 10px 5px;
    }
}