* {
  box-sizing: border-box;
  font-family: 'poppoins', sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
}


.limit-section {
  align-items: center;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
}

.limit-section img {
  width: 150px;
}

header {
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  margin: 0 auto 0 auto;
  position: fixed;
  top: 0;
  left: 0px;
}

nav a {
  font-size: 18px;
  color: #444;
  padding: 5px;
  margin: 0 5px;
}

h2 {
  font-size: 36px;
}

#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(47deg, #000113 0%, #04061D 80%, #04061D 100%);
  background-image: url('/public/assets/capa.png');
  height: 80vh;
}

.limit-banner {
  height: 100%;
  width: 100%;
  padding: 250px 20px 20px 250px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.limit-banner p, .limit-banner h1 {
  max-width: 500px;
  font-family: 'Anybody', cursive;
}

.limit-banner p {
  font-size: 36px;
  font-weight: 500;
}

.limit-banner h1 {
  font-size: 60px;
  margin: 0;
  letter-spacing: 5px;
  line-height: 70px;
}

#products {
  width: 100%;
  text-align: center;
  padding: 50px 20px;
}

.limit-products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.limit-products p {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #f6f6f6;
  width: calc(50% - 30px);
  padding: 20px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-size: 32px;
  margin: 0;
}

.card img {
  width: 70%;
  max-height: 300px;
  margin: 30px 0;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

.limit-products ul {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limit-products li {
  margin: 5px;
  font-size: 18px;
}

#about {
  background-color: #f8f7ff;
  padding: 50px 20px;
  text-align: center;
  height: 100%;
}

.about p {
  font-size: 22px;
  line-height: 32px;
  padding: 0 40px;
}

.limit-about {
  margin: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
}

.limit-about img, .limit-about div {
  width: calc(50% - 15px);
  height: 50%;
}

.box-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  max-height: 50%;
  border: solid 1px #a2adad;
}

.box-about h3 {
  font-size: 52px;
}

.box-about p {
  font-size: 32px;
}

.box-about h3, .box-about p {
  font-family: 'Anybody', cursive;
  letter-spacing: 5px;
  line-height: 42px;
}

#contact {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 100px 20px;
  background-color: #05031b;
}

.limit-contact {
  display: flex;
  flex-direction: column;
}

.card-contact {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

.media img {
  width: 18px;
}

.media p {
  font-size: 14px;
  margin-left: 10px;
}

footer {
  background-color: #000113;
  padding: 20px;
  color: #fff;
  text-align: center;
}

@media (max-width: 1610px) {
  #banner {
    background-position: 50%;
  }
}

@media (max-width: 1340px) {
  #banner {
    background-position: 80%;
  }

  .limit-banner {
    padding: 170px 20px 20px 100px
  }

  .limit-banner h1 {
    line-height: 50px;
    font-size: 56px;
    max-width: 350px;
  }
}


@media (max-width: 768px) {
  .limit-section {
    padding-left: 5%;
    margin: 0;
  }

  #home nav {
    margin-left: 120px;
  }

  nav a {
    margin: 0;
  }

  #banner {
    background-position: 70% -150%;
  }

  .limit-banner {
    padding: 120px 20px 20px 100px
  }

  .limit-banner h1 {
    line-height: 50px;
    font-size: 40px;
    max-width: 350px;
  }

  .limit-banner p {
    font-size: 20px;
  }

  .limit-products h2 {
     font-size: 30px;
     margin-top: 10px;
  }

  .card h3 {
    font-size: 26px;
    max-width: 200px;
  }

  .about h2 {
    font-size: 32px;
    margin-top: 0;
  }

  .about p {
    font-size: 22px;
  }

  .limit-about {
    margin: 10px 30px;
    flex-direction: row;
    height: 450px;
  }

  .box-about, .limit-about img {
    width: calc(50% - 30px);
  }

  .box-about h3 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .box-about p {
    font-size: 18px;
    padding: 0px 10px;
  }

  .box-about h3, .box-about p {
    letter-spacing: 3px;
    line-height: 32px;
  }

  .limit-contact p {
    max-width: 80%;
  }

  .limit-contact {
    align-items: center;
  }
}

@media (max-width: 680px) {
  .limit-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    max-height: 300px;
  }

  .limit-section img {
    margin-bottom: 5px;
  }

  #home nav {
    margin-left: 0;
  }

  .limit-products h2 {
    margin-top: 35px;
  }

  .about h2 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .box-about, .limit-about img {
    width: calc(50% - 14px);
    max-height: 50%;
    margin: 0;
  }

  .box-about h3 {
    font-size: 26px;
  }
  
  .box-about p {
    font-size: 16px;
  }

  .box-about h3, .box-about p {
    letter-spacing: 3px;
    line-height: 22px;
  }

  .limit-about {
    height: 350px;
  }
}

@media (max-width: 550px) {
  .box-about, .limit-about img {
    width: calc(50% - 14px);
    max-height: 50%;
    margin: 0;
  }

  .box-about h3 {
    font-size: 22px;
  }
  
  .box-about p {
    font-size: 14px;
    padding: 0;
    margin-top: 10px;
  }

  .box-about h3, .box-about p {
    letter-spacing: 2px;
    line-height: 20px;
  }

  .limit-about {
    height: 350px;
  }
}

