.banner-section {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/assets/banner-lg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
}

.img-fallen, .img-rain {
    position: relative;
    height: 100%;
}

.img-fallen, .img-rain {
    width: calc(100vw/3);
}

.img-fallen img, .img-rain img{
    position: absolute;
    bottom: 0;
}

.img-rain img {
    width: 54vw;
    right: 10px;
}

.img-fallen img{
    left: -40px;
    width: 50vw;
}

.banner-about {
    margin-top: 14vh;
    text-align: center;
    color: #ccccd2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 62%;
    background-color: rgba(25,28,66, 0.4);
    border-radius: 10%;
}

.banner-about h1{
    font-size: 4em;
    letter-spacing: .1em;
}

.banner-about span {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 0.5em 0;
}

.banner-about p {
    width: 40%;
    font-size: 1.2em;
    padding-bottom: 1em;
}

.bar {
    width: 50%;
    border: #ccccd2 solid .2em;
    border-radius: 50%;
    margin-top: 1.2em;
}


/*Responsive*/

@media (max-width: 1080px) {
    .banner-about h1{
        font-size: 3em;
    }
    
    .banner-about span {
        font-size: 2em;
    }
    
    .banner-about p {
        font-size: 1em;
    }

    .banner-section {
        background-position: -100px;
    }

    .img-fallen img{
        left: -10px;
        width: 60vw;
    }

    .img-rain img {
        width: 64vw;
    }
}

@media (max-width: 768px) {
    .banner-about p {
        width: 70%;
    }

    .banner-about {
        height: 50%;
    }
    .img-rain img {
        display: none;
    }
    
    .img-fallen img{
        left: 74%;
        width: 90vw;
    }

    .banner-section {
        background-position: -200px;
    }
}

@media (max-width: 425px) {
    .banner-about h1{
        font-size: 2em;
        padding-top: 10%;
    }
    
    .banner-about span {
        font-size: 1.6em;
    }
    
    .banner-about p {
        font-size: 1em;
    }

    .banner-about {
        margin-top: 20vh;
        height: 56%;
    }

    .banner-section {
        background-position: -400px;
    }
}

