.map-main-section {
    background-color: rgba(0,3,26,1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 2em;
    padding-bottom: 10vh;
}

.grenade-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw/5);
    height: 38vh;
    border-radius: 20px;
    background-color: #1a1d38;
}

.img-grenade {
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.img-grenade img {
    width: 100%;
    border-radius: 5%;
    border: 2px solid #c8b43a;
}

.infos-area h2, .infos p{
    color: #ccccd2;
}

.infos p {
    font-size: .9em;
}

.infos-area {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 2em;
}

.grenade-infos {
    display: flex;
}

.infos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info {
    display: flex;
    align-items: center;
    gap: 1em;
}

.circle {
    width: .6em;
    height: .6em;
    background-color: #c8b43a;
    border-radius: 50%;
}

.grenade-card:hover {
    transform:scale(1.1);
    cursor: pointer;
}