.grenade-video-section {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.video-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-area img{
    aspect-ratio: 16/9;
    height: 50vh;
}

.closeBox {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 100px;
    height: 100px;
}

.cross {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hide-videos {
    display: none;
}

