.WorkSectionLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f8fc;
    height: 90vh;
}

.WorkAboutLight {
    max-width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WorkAboutLight h2 {
    font-size: 2.8em;
    padding: 10px;
    color: #32333c;
    text-align: center
}

.YellowFeature {
    border: 2px solid #feb633;
    width: 10vw;
    border-radius: 50px;
    margin: 10px 0;
}

.WorkAboutLight p {
    margin: 10px 10px;
    padding: 0 20vw;
    color: #8a8fa3;
    text-align: center;
}

.CardSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*DARK MODE*/

.WorkSectionDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #393838;
    height: 90vh;
}

.WorkAboutDark {
    max-width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WorkAboutDark h2 {
    font-size: 2.8em;
    padding: 10px;
    color: #cccccc;
    text-align: center
}

.WorkAboutDark p {
    margin: 10px 10px;
    padding: 0 20vw;
    color: #cccccc;
    text-align: center;
}

@media (max-width: 768px) {
    .CardSection {
        flex-direction: column;
        padding-bottom: 10vh;
    }

    .WorkSectionLight {
        height: 150vh;
    }

    .WorkAboutLight p {
        padding: 0 3vw;
    }

    /*DARK MODE*/
    
    .WorkSectionDark {
        height: 150vh;
    }

    .WorkAboutDark p {
        padding: 0 3vw;
    }
}


@media (max-width: 420px) {
    .WorkSectionLight {
        height: 185vh;
    }

    .WorkAboutLight {
        margin-bottom: 4em;
    }

    /*DARK MODE*/

    .WorkSectionDark {
        height: 185vh;
    }

    .WorkAboutDark {
        margin-bottom: 4em;
    }
}


