.WorkSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f8fc;
    height: 90vh;
}

.WorkAbout {
    max-width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WorkAbout h2 {
    font-size: 2.8em;
    padding: 10px;
    color: #32333c;
}

.YellowFeature {
    border: 2px solid #feb633;
    width: 10vw;
    border-radius: 50px;
    margin: 10px 0;
}

.WorkAbout p {
    margin: 10px 10px;
    padding: 0 20vw;
    color: #8a8fa3;
    text-align: center;
}

.CardSection {
    display: flex;
    align-items: center;
    justify-content: center;
}