.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #5e6073;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 10vw;
}
.main-nav li{
    list-style: none;
    border: 1px solid #cfcfcf;
    width: 100%;
    height: calc(100vh/20);
}

.main-nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.link-nav {
    color: #cfcfcf;
    font-size: 1em;
    font-weight: bold;
}

.main-nav li:hover {
    background-color: #8d8da1;
    cursor: pointer;
    transition: .4s;
}

.link-nav:hover {
    color: #f7f7f7;
}

@media (max-width: 1200px) {
    .main-nav {
        width: 12vw;
    }

    .link-nav {
        font-size: .9em;
    }
}
