.map-main-about {
    height: 26vh;
    background: linear-gradient(180deg, rgba(26,29,56,1) 0%, rgba(0,3,26,1) 100%);
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.map-main-about h2 {
    font-size: 2.4em;
    color: #ccccd2;
    padding-bottom: .6em;
}

.filter-buttons {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.filter-button {
    padding: .2em 1em;
    background-color: #1a1d38;
    border: 1px solid #1a1d38;
    color: #89898b;
    font-size: 1.1em;
    border: none;
    border-radius: 8%;
}

.filter-button:hover {
    color: #ccccd2;
    cursor: pointer;
    border: 1px solid #ccccd2;
}


