header {
    width: 100vw;
    background-color: #010422;
    height: 10vh;
}

.header-section {
    margin: 0 auto;
    width: 82%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section img{
    height: 5em;
    padding-top: .5em;
}

.nav-bar {
    display: flex;
    gap: 2.2em;
}

.link-nav {
    font-size: 1.2em;
    color: #ccccd2;
    position: relative;
    width: 6em;
    background-color: #010422;
    text-align: center;
}

.nav-bar li{
    list-style: none;
}
                        
.nav-maps {
    position:absolute;
    top: 30px;
    left:0;
    background-color:#010422;
    display: none;
}

.nav-maps li {
    font-size: .8em;
    padding: 5px 5px;
}

.nav-bar li ul li {
    display: block;
}

.nav-bar li:hover ul{
    display:block;
}