.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    background-color: #00031a;
}

.main-about {
    display: flex;
    align-items: center;
    height: 28vh;
    background: linear-gradient(180deg, rgba(26,29,56,1) 0%, rgba(0,3,26,1) 100%);
    width: 100%;
}

.main-about h2, .main-about p {
    color: #ccccd2;
}

.main-about h2 {
    font-size: 2.4em;
    padding: 0 5em;
    letter-spacing: 0.1em;
    width: 50%;
}

.main-about p {
    font-size: 1.6em;
    padding: 0 5em;
    width: 50%;
}

.card-map-main-section {
    height: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 3em;
}

/*Responsive*/

@media (max-width: 1450px) {
    .main-about h2 {
        font-size: 1.8em;
        padding: 0 2em;
    }

    .main-about p {
        font-size: 1.2em;
        padding: 0 2em;
    }
}

@media (max-width: 1080px) {
    .main-about h2 {
        font-size: 1.6em;
    }

    .main-about p {
        font-size: 1em;
    }

    .card-map-main-section {
        width: 88%;
    }
}

@media (max-width: 768px) {
    .main-about h2 {
        font-size: 1.4em;
    }

    .main-about p {
        font-size: .8em;
    }
}

@media (max-width: 425px) {
    .main-about h2 {
        font-size: 1.2em;
        padding: 0 5em;
        width: 100%;
    }

    .main-about p {
        font-size: .8em;
        display: none;
    }
}